body{
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("./Images/HouseBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form-label{
    color: white;
}
#signupDiv{
    margin-top: 10rem;
    max-width: 60rem;
    width: 50%;
    margin: auto;
    border: 2px solid coral;
    padding: 10px;
    border-radius: 10px;
}
#submitSignup{
    background-color: coral;
    color: white;
    text-align: center;
    
}
#loginPageHeader{
    text-align: center;
    color: coral;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}
form{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
